.error-msg{
    color:red;
    padding-left: 10px;
    padding-top: 10px;
}
.am-tab-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.fixd-header.am-navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.page-content{
    padding: 45px 5px;
}
#chat-page .chat-me .am-list-extra{
    flex-basis: auto;
}
#chat-page .am-grid-icon{
    display: none;
}
.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text{
    margin-top: 0px !important;
    font-size: 18px;
}
#chat-page .chat-me .am-list-content{
    padding-right: 15px;
    text-align: right !important;

}
.stick-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}